.AddBtn{
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 100;

    width: 44px;
    height: 44px;
    background: hsla(24, 94%, 51%, 0.616);
    border-radius: 50px;
    border-width: 2px 2px 2px 2px;
    border: 2px solid #ffbd06;
    
    font-size: 30px;
    line-height: 0px;
    color: white;
    padding: 0px 0px 0px 0px;
}